// variables

$primary-color:rgb(215,123,65);
$backgrouund-color: rgb(0,65,84);
$form-text: rgb(128,151,160);
$form-bg: rgb(243,244,246);
$services-color: rgb(11,57,77);


@keyframes flow {
    from {width: 200px;}
    to {width: 340px;}
  }
*{
    margin: 0;
    padding: 0;
    // overflow: hidden;
}
body{
    overflow-x: hidden;
}
  

// font
@font-face {
    font-family: "baloo";
    src: url(BalooBhaijaan-Regular.ttf);
}

@font-face {
    font-family:"easy" ;
    src: url(Baloo2-VariableFont_wght.ttf);
}



.navigation{
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Archivo Black', sans-serif;
      }
      
      body {
        background-color: #FDEFD7;
      }
      
      .logo {
        z-index: -1;
        top: 25px;
        left: 30px;
        color: #F07A79;
      }
      
      .text {
        text-align: left;
        line-height: 6rem;
        z-index: -1;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
      }
      
      .text 
      h1 {
        font-family: 'Archivo Black', sans-serif;
        letter-spacing: -5px;
      }
      
      .text
      h1:nth-child(1) {
        font-size:8rem;
        color: rgba(87, 222, 222, 0.3);
        transform: translate(-20px ,20px);
      }
      
      .text
      h1:nth-child(2) {
        font-size:8rem;
        color: rgba(87, 222, 222, 0.3);
      }
      
      .text
      h1:nth-child(3) {
        font-size:10rem;
        color: rgba(246, 160, 160, 0.6);
        transform: translateY(-20px);
      }
      
      .menu-btn {
        position: absolute;
        top: 25px;
        right: 30px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: black;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .menu-btn
      div {
        background-color: white;
        width: 50%;
        height: 3px;
        margin: 3px 0;
      }
      
      .eks-two {
        opacity: 1;
        transition: 1s ease-in;
      }
      
      .eks-two-fade {
        opacity: 0;
      }
      
      .top-right-slide {
        position: absolute;
        top: 0;
        min-height: 100vh;
        width: 100%;
        background-color: $primary-color;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        transition: 0.5s ease-in;
      }
      .top-right-slide-show {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
      }
      
      /* RIGHT TOP */
      .inner-container-top {
        width: 100%;
        min-height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .inner-container-top::after {
        content: '';
        position: absolute;
        top: 0;
        height: 20vh;
        width: 100%;
        background-color: $backgrouund-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-in;
      }
      .inner-container-top:hover::after {
        clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
      }
      /* END RIGHT TOP */
      
      
      /* RIGHT MIDDLE */
      .inner-container-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        
        min-height: 20vh;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .inner-container-middle::after {
        content: '';
        position: absolute;
        top: 0;
        height: 20vh;
        width: 100%;
        background-color: $primary-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-in;
      }
      .inner-container-middle:hover::after {
        clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
      }
      
      /* END RIGHT MIDDLE */
      
      /* RIGHT BOTTOM */
      .inner-container-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .inner-container-bottom::after {
        content: '';
        position: absolute;
        top: 0;
        height: 20vh;
        width: 100%;
        background-color: $backgrouund-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-in;
      }
      .inner-container-bottom:hover::after {
        clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
      }
      
      /* END RIGHT BOTTOM */
      
      /* LEFT TOP */
      
      .inner-container-left-top {
        width: 100%;
        min-height: 20vh;
        transform: translateY(100%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .inner-container-left-top::after {
        content: '';
        position: absolute;
        top: 0;
        height: 20vh;
        width: 100%;
        background-color: $backgrouund-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-in;
      }
      .inner-container-left-top:hover::after {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%);
      }
      
      /* END LEFT TOP */
      
      /* LEFT BOTTOM */
      
      .inner-container-left-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 20vh;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .inner-container-left-bottom::after {
        content: '';
        position: absolute;
        top: 0;
        height: 30vh;
        width: 100%;
        background-color: $backgrouund-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-in;
      }
      .inner-container-left-bottom:hover::after {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%);
      }
      
      /* END LEFT BOTTOM */
      
      
      .middle-right-slide {
        position: absolute;
        top: 0;
        min-height: 100vh;
        width: 100%;
        background-color: #F6A0A0;
        clip-path: polygon(100% 40%, 100% 40%, 100% 60%, 100% 60%);
        transition: 0.5s ease-in;
      }
      .middle-right-slide-show {
        clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
      }
      .bottom-right-slide {
        position: absolute;
        top: 0;
        min-height: 100vh;
        width: 100%;
        background-color: #F6A0A0;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: 0.5s ease-in;
      }
      .bottom-right-slide-show {
        clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
      }
      
      .top-left-slide {
        position: absolute;
        top: 0;
        min-height: 100vh;
        width: 100%;
        background-color: #57DEDE;
        clip-path: polygon(0 20%, 0% 20%, 0% 40%, 0 40%);
        transition: 0.5s ease-in;
      }
      .top-left-slide-show {
        clip-path: polygon(0 20%, 100% 20%, 100% 40%, 0 40%);
      }
      
      
      
      .bottom-left-slide {
        position: absolute;
        top: 0;
        min-height: 100vh;
        width: 100%;
        background-color: #57DEDE;
        clip-path: polygon(0 60%, 0% 60%, 0% 80%, 0 80%);
        transition: 0.5s ease-in;
      }
      .bottom-left-slide-show {
        clip-path: polygon(0 60%, 100% 60%, 100% 80%, 0 80%);
      }
      
      .nav-links {
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        position: absolute;
        z-index: 4;
        transition: 0.3s ease-in;
        transform: translateY(10%);
        padding-bottom: 5px;
      }
      .nav-links::before{
        content: '';
        position: absolute;
        bottom:0;
        right: 50%;
        height: 100%;
        width:0;
        transition: 0.4s ease-in;
      }
      .nav-links::after{
        content: '';
        position: absolute;
        bottom:0;
        left: 50%;
        height: 100%;
        width:0;
        transition: 0.4s ease-in;
      }
      .nav-links:hover::before{
        content: '';
        position: absolute;
        bottom:0;
        right: 50%;
        height: 100%;
        width: 50%;
        border-bottom: 3px solid white;
      }
      .nav-links:hover::after{
        content: '';
        position: absolute;
        bottom:0;
        left: 50%;
        height: 100%;
        width: 50%;
        transition: 0.4s ease-in;
        border-bottom: 3px solid white;
      }
      
      
      .nav-links:hover {
        letter-spacing: 5px;
        transform: translateY(0);
        color:blue($color: #000000) ;
      }
      
      
      
      
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  
    
    body {
      font-family: "Poppins", sans-serif;
    }
    
    .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
    a:hover{
        color:$primary-color;
    }
    .links{
        font-family: "baloo", BalooBhaijaan;
        color: $backgrouund-color;
        font-size: 25px;
        font-weight: bolder;
        text-decoration: none;
    }
     .link{
        font-size: 25px;
        font-weight: bolder;
        font-family: "baloo", BalooBhaijaan;
            color:$primary-color;
             text-decoration: none;
         } 
         .link:hover{
            color: $backgrouund-color;
         }
         .words{
            
    margin-right: 69px;
         }
         
         

         .dropdown{
            margin-left: 1250px;
            margin-top: 20px;
            position: absolute;
            top:70px;
           
            
        }
        .dropdown-menu{
            transition: 0.7s ease-in-out;
            -webkit-transition: 0.7s;
            height: 20vh;
            animation-name: flow;
             animation-duration: 2s;
             border: none;

        }

      
        
        .dropdown-item{
            width: 340px;
            margin-bottom: -1px;
            padding-right: 135px;
            height: 29vh;
            font-size: 30px;
            font-family: "baloo", BalooBhaijaan;
            font-weight: bolder;
            background-color:white ;  
        }
      

        
        .contactus{
            color:rgb(215,123,65) ;
        }
        
}




.banner{
     margin: 60px;
    margin-top: 1px;
     padding-top: 30px;
     padding-bottom: 30px;

      .top{
       margin-top: 2px;
        width: 298px;
        margin-right: 20px;
      }
      .bottom{
         margin-top: 6px;
     }

     
  
 .clout2{
     display: flex;
     justify-content: space-evenly;
flex-direction: row;
 }




.line{
     display: flex;
}
.line2{
    color:$primary-color;
    width: 70px;
    height: 2px;
    margin-top: 15px;
    border: 2px;
    border-color:$primary-color;
    background-color: $primary-color;
    border-radius: 20px;
}

.para1{
    font-family: "easy",Baloo2;
    margin: 13px;
    margin-top: 2px;
    font-weight: bold;
}
.headtext{
     margin-top: 10px;
    //  margin-left: 30px;
}


span{
    color: $primary-color;
}
.band{margin-top: 5px;
    margin-left: -30px;
    object-fit: cover;
     }
     .sky{
      margin-top: 102px;
       margin-left: -70px;  
     object-fit: cover;
     }

     .glass{
         margin-left: -1px;
        // margin-right: 5px;
     }
    
    .jeep{
         opacity: 20%;
          margin-left: 18px;
          margin-top: 6px;
         width: 387px;
         height: 7vh;
    }
     .rec{
        opacity: 20%;
        width: 298px;
         height: 7vh;
         margin-top: 6px; 
         margin-right: 20px; 
     }
    
     .lee{
         opacity: 20%;
         width: 210px;
         height: 7vh;
         margin-left: 7px;
         margin-top: 6px;
    }
     .lee2{
          opacity: 20%;
         width: 320px;
         height: 7vh;
         margin-left: -6px;
         margin-top: 7px;
      }

     .keith{
        font-family: "easy",Baloo2;
         font-weight: bolder;
          font-size:100px;
        //   color: $backgrouund-color;
     }
    
     .kayla{
     font-family: "easy",Baloo2;
        font-size: 55px;
        font-weight: bolder;

     }
}

    

 



.about{
   font-family: "easy",Baloo2;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 50px;
    margin-top: 30px;
    // margin-left: 70px;
    // margin-right: -10;

    .aboutpic{
        margin-left: 164px;
    }

    .head{
        font-family: "easy",Baloo2;
        color: $primary-color ;
        font-weight: bolder;
        font-size: 35px;
    }
    .text{
        font-family: "easy",Baloo2;
        font-weight: 470;
    }
    .abouttext{
        margin-left: 15px;
        margin-right: 45px;
    }
}

#services {
    font-family: "baloo", BalooBhaijaan;
    background-color: $services-color;
    color: white;
     padding-top: 92px;
     padding-bottom: 100px;

    //  .carousel-indicators{
    //    position: absolute;
    //  top: 450px;
   
    
    //  }
    .carousel-indicators {
        /* width: 297px; */
        height: 2vh;
        position: absolute;
        top: 105%;

        // .active{
        //     border-radius: 58%;
        //     height: 0px;
        //     width: 20px;
        // }
        // .unactive{
        //     border-radius: 58%;
        //     height: 0px;
        //     width: 20px; 
        // }
        // .button{
        //     border-radius: 58%;
        //     height: 0px;
        //     width: 20px;
        // }
    }
    
     .loyal{
        color:$primary-color;
    width: 350px;
    height: 2px;
    margin-top: 15px;
    border: 2px;
    border-color:$primary-color;
    background-color: $primary-color;
    border-radius: 20px;
     }


     .card{
        background-color:$backgrouund-color ;
         padding: 10px;
         border-style: none;
         width: 25rem;
      
     }
    .space{
        
        margin-left: 47px;
        margin-right: 47px;
    }

    .card-title{
        color: $primary-color ;
        margin-top: 20px;
    }


    .card-text{
        margin-top: 20px;
        font-family: "easy",Baloo2;
        margin-bottom:90px ;
        
        

    }

    .row{
        display: flex;
        justify-content: space-between;
       
     
      }


   
       button{
        padding-top: 20px;      
         margin-bottom: -65px;
   
 
      }

      .jordan{
        font-family: "easy",Baloo2;
        margin-bottom:90px ;
        font-size: 35px;
        font-weight: bolder;

      }
    }

 
    

    
#blank{
    display: flex;
    justify-content: center;
    align-items: center;
padding: 50px;
   .dancingtag{
   
    margin: 70px;
   
   
   }
    .dancing{
        margin: 70px;
        margin-right: 0px;
        margin-left: 30px;
    }

    .btn{
        font-family: "easy",Baloo2;
        background-color:  $backgrouund-color;
         color: white;
        margin-top: 20px;
        border-radius: 0px;
        padding: 20px;
        width: 350px;
        font-weight: bolder;
        font-size:25px ;
    }

    .letsdance{
        color:  $primary-color;
        font-family: "easy",Baloo2;
        font-weight: bolder;
        font-size:35px ;
    }
}    






#contact{
    display: flex;
    justify-content: space-evenly;
    background-color: $form-bg;
     padding-top: 30px;
     padding-bottom: 30px;
    text-align: center;
margin-bottom: 80px;

// .row{
//     display: flex;
// }
    .card-img-bottom{
        background-color: $form-bg;
        // object-fit: cover;
    }
.get{
    margin-top: 30px;
    margin-right: 150px;
}
.form-control{
    border-style: none;
    width: 480px;
    margin-right: 20px;
    border-radius: 0px;
    margin-top: 5px;
    padding: 18px;
    color: $form-text;
    font-weight: 450px;
}

    p{
        font-size: 16px;
        font-weight: 550;
        font-family: "easy",Baloo2;
        margin-left: 100px;
        

    }

 
    .form{
        margin-left: 80px;
        margin-right: 60px;
        margin-top: 5px;
        
    }
    .button{
        
         margin-left: 80px;
        margin-top: 15px;
         background-color:$backgrouund-color;
        padding: 10px;
        text-decoration: none;
        width:480px ;
        
          font-size:40px ;

    }
    .btn{
        text-decoration: none;
        color: white;
        font-family: "easy",Baloo2;
         font-weight: bolder;
    }
    h2{
        color:$primary-color;
        font-family: "easy",Baloo2;
    font-size:40px ;
    font-weight: bolder;
    margin-left: 110px;
    // margin-top: 30px;

    }
    .message{
        font-family: "easy",Baloo2;
        margin-top: 23px;
        border-style: none;
        border-radius: 0px;
        width: 480px;
        padding: 10px;
        margin-top: 10px;
        margin-left: -18px;
        height: 30vh;
        color: $form-text;
        font-weight: 470;
        // margin: 60px;
    }

    
     
   
    
    .tag{
        margin-top: 50px;
        
    }
  .ste{
    object-fit: contain;
    margin-left: 50px;
  }
}

.footer{
    font-family: "baloo", BalooBhaijaan;
    background-image: url("No Walls Img/Group 9.png");
    height: 60vh;
    background-repeat: no-repeat;

    // .adi{
    //     display: flex;
    //     // justify-content: start;
    //     align-items: center;
    //     flex-direction: row;
    //     margin:4px;
    //     margin-top: 20px;
    //     color: white;
    //     margin-left: 60px;
    // }
    .ftext{
        font-family: "easy",Baloo2;
        margin-top: -136px;
        margin-bottom: 65px;
        margin-left: 149px;
         font-weight: bolder;
         color: white;
    }
    .fhead{
        font-family: "easy",Baloo2;
        font-size:50px ;
        font-weight: bolder;
    
        padding-top: 80px;
        color: white;
        margin-right: 80px;
        margin-left: 120px;
    }

    .ftext2{
        font-family: "easy",Baloo2;
        margin-top: -136px;
        margin-bottom: 108px;
        // margin-right: 190px;
        font-weight: bolder;
        margin-left: 377px;
        color: white;  
    }
    .location{
        height: 3vh;
        margin-bottom: 115px;
        margin-left: 121px;
    }

    .phone{
        margin-top: -136px;
    margin-left: 345px;
      margin-bottom: 108px;
    }
}


.footer2{
    display: flex;
    justify-content: center;
    align-items: center;

}

// @media(max-width:375px){
//     .navigation{
//         .words{
         
//            align-items: center;
//             font-size: 40px;
//             margin-left: 250px;
    
           
//         }
//        }
       
//         .banner{
//             display: flex;
//             flex-direction: column;
    
//         .para1{
//             font-size: 20px;
//         }
//         }
//       .clout2{
//         flex-direction: column;
//         margin-left: -35px;
    
//         .top{
//             width: 800px;
//         }
//         .bottom{
//             width: 800px;
//         }
//         .glass{
//             display: none;
//             width: 800px;
//             object-fit: cover;
//             height: 100vh;
//         }
    
//       .amen{
//         display: none;
//       }
//         .sky{
//            display: none;
//             width: 790px;
//             margin-top: 10px;
//             margin-left: -30px;
//             object-fit: contain;
//         }
//         .band{
//             display: none;
//             width: 800px;
//             margin-left: -30px;
//             height: 100vh;
//         }
//       }
//       .services{
//         // width: 300%;
    
//         .card{
//             margin: 40px;
//             margin-left: 180px;
//         }
    
//         .jordan{
//             font-size: 40px;
//             text-align: center;
//         }
    
//         .carousel-indicators{
//             // position: absolute;
//             // bottom: 500px;
//             margin-bottom: 20px;
//         }
    
      
//     }
// }


@media(max-width:575px){
    // .btn2{
    //     display: none;
    //     margin-left: -941px;
    //     margin-bottom: -29px;
    //     margin-top: -89px;
    //     height: 7vh;
    //     width: 50px;
    // }
    .navigation{
        
   

   .words{
     display: none;
    }
    }

    .logo {
        margin-top: 9px;
        margin-left: -203px;
        z-index: -1;
        top: 25px;
        left: 30px;
        width: 168px;
    }
    // .logo{
    //     margin-top: -3px;
    //     width: 168px;
    //     margin-left: 6px;
    // }
    .banner{
        // margin-bottom: -900px;
   
        .headtext{
            text-align: center;
        }
        .line{
            margin-left: -35px;
        }
        .keith{
            margin-top: -35px;
            width: 324px;
            font-size: 22;
            margin-left: -83px;
        }
        .col-md-3{
            display: block;
        }

        .kayla{
            width: 324px;
            font-size: 15;
            margin-left: -111px;
        }
        .line2{
            display: none;
        }
        .para1{
            margin-left: -1px;
            font-size: 10;
        }

      .top{
            margin-left: -46px;
            width: 330px;
            object-fit: contain;
        }
        .glass{
            display: none;
        }

        .sky{
            display: none;
        }
        .band{
            display: none;
        }
        
        .bottom{
            display: none;
        }
        .rec{
            display: none;
        }
        .lee2{
            display: none;
        }
        .lee{
            display: none;
        }
        .jeep{
            display: none;
        }
        
    }

    .about{
        .head{
            font-size: 16;
            margin-left: 25px;
            margin-top: -60px;
        }
        .text{
            font-size: 12;
            margin-right: 1px;
            margin-left: 21px;
            width: 330px;
            margin-bottom: -8px;
        }
        .aboutpic{
            display: none;
        }
    }

    #services{
    
        padding-bottom: 48px;

        .jordan{
            font-size: 16;
            margin-top: -55px;
            margin-bottom: 26px;
            margin-left: -25px;
            width: 316;
        }

        .carousel-indicators{
            display: none;
        }
    .card{
            //  margin: 40px;
            margin-left: -80px;
             width: 26rem;
            padding: 2px;
            margin-top: 13px;
         }

         .nba{
            width: 300px;
            margin-left: 70px;
         }

         .card-title{
            font-size: 11px;
            margin-left:70px ;
         }

         .card-text{
            font-size: 12;
            width: 250px;
            margin-left: 70px;
         }

         .loyal{
            font-size: 100px;
         }
     }

     #blank{
        flex-direction: column-reverse;

        .egzy{
            width: 310px;
            margin-left: -30px;
            margin-bottom: -126px;
            margin-top: -103px;
        }

        .letsdance{
            font-size: 16px;
            width: 273px;
            margin-left: -6px;
        }

        .btn{
            margin-top: 2px;
            margin-left: -13px;
            padding: 5px;
            font-size: 12px;
            width: 200px;
            
        }
     }

     #contact{
        flex-direction: column;
    
.form{
    margin-left: -6px;
}
        .ste{
            width: 205px;
            margin-left: -65px;
        }
        h2{
            font-size: 16px;
            margin-left: 23px;
        }
        p{
            width: 288px;
            font-size: 12px;
            margin-left: 15px;
        }

        .form-control{
            width: 312px;
            margin-left: 35px;
            font-size: 12px;
        }

        .message{

            margin-left: 35px;
            width: 312px;
            height: 20vh;
            font-size: 16px;
        }
        .button{
            padding: 5px;
            width: 184px;
            margin-left: 90px;
            margin-top: 15px;
        }
     }

     .footer{
        height: 40vh;

        .fhead{
            font-size: 17px;
            padding-top: 51px;
            margin-left: 41px;
            margin-bottom: 29px;
        }

        .ftext{
            margin-top: -119px;
            font-size: 12px;
            margin-left: 62px;
        }

        .phone{
            margin-left: 193px;
            margin-top: -123px;
            // margin-bottom: -40;
        }
        .ftext2{
             margin-top: -128px;
             margin-left: 218px;
            font-size: 12px;
        }
        .location{
            margin-bottom: 100px;
            margin-left: 37px;
        }
        
     }

     .footer2{
        width: 77%;
        .nowalls{
            height: 10vh;
        }
     }
}


@media (min-width:577px)and(max-width:768px){
 .navigation{


    .menu-btn{
        display: none;
    }
    
     .btn2{
         margin-left: -614px;
         display: none;
        
     }

     .words {
        font-size: 19px;
        margin-left: -17px;
        margin-bottom: -31px;
    }
 }

 .logo {
    margin-left: 11px;
    height: 10vh;
    margin-top: 12px;
}


    .banner{

     .keith{
         font-size: 37px;
     }
     .kayla{
         font-size: 30px;
     }
     .line2{
         display: none;
     }
     .top {
        margin-left: -41px;
        width: 327px;
    }
    .bottom{
        margin-left: -42px;
         width: 327px;
     }
     .glass{
         margin-left: 97px;
         height: 38vh;
     }
     .sky{
         display: none;
     }
    .band{
        display: none;
    }
    .rec{
        display: none;
    }
    .lee2{
        display: none;
    }
    .lee{
        display: none;
    }
    .jeep{
        display: none;
    }
    .ms-5{
        display: none;
    }   
}

.about{

    .head{
        margin-top: -41px;
        width: 391px;
        margin-left: 28px;
        font-size: 35px;
    }

    .text{
        margin-top: 21px;
        width: 632px;
        margin-left: 28px;
    }

    .aboutpic{
        display: none;
    }
}

#services{
    .jordan{
        margin-top: -42;
        margin-bottom: 16px;
        font-size: 35px;
    }

    .card{
        width: 14rem;
        padding: 2px;
    }
    .loyal{
        width: 175px;
    }
}

#blank{
    flex-direction: column-reverse;
    margin-bottom: -48px; 
    .egzy{
        margin-top: -74px;
        width: 371px;
        margin-left: -56px;
    }

    .letsdance{
        margin-left: -21px;
        margin-top: -59px;
    }
    .btn{
        padding: 6px;
        width: 285px;
        margin-left: 80px;
    }
}
#contact{
    .ste{
    display: none;
        width: 329px;
        margin-left: 50px;
    }

    h2{
        margin-top: 8px;
        font-size: 35px;
        margin-left: -95px;
    }

    p{
        margin-left: -82px;
    }

    .form-control{
        width: 675;
    }
    .get {
        margin-top: 30px;
        margin-right: -4px;
    }
    .form{
        margin-left: 40px;
        margin-right: 36px;
        margin-top: 5px;
    }

    .message{
        width: 675px;
        margin-left: -19px;
    }

    .button{
        margin-left: 235px;

        width: 244px;
    }
   
}

.footer{

    height: 29vh;
    .fhead{
        font-size: 37px;
    }
    .ftext{
        margin-left: 149px;
        margin-top: -140;
        margin-bottom: 65px;
    }
    .location{
        height: 2vh;
        margin-bottom: 120px;
        margin-left: 112px;
    }
    .ftext2{
        margin-left: 377px;
        margin-top: -140px;
    }

    .phone{
        margin-top: -139px;
        margin-left: 345px;
        margin-bottom: 108px;
    }

    .footer{
        margin-bottom: -166px;
    }
}
 }

 @media(min-width:769px){

    .navigation{
        
        .menu-btn{
            display: none;
        }
        
    }
 .dropdown{

 display: none;
 }
 }

 @media only screen and (min-width:993px)and(max-width:1024px) {

    .navigation{
    
        .menu-btn{
            display: none;
        }
        
        .btn2{
            margin-left: -614px;
            display: none;
           
        }
   
        .words {
            font-size: 20px;
            margin-left: 221px;
            margin-bottom: -42px;
        }
    }
    .logo{
        margin-top: 20px;
     }
    
    
        .banner{
           
    
         .keith{
             font-size: 37px;
         }
         .kayla{
             font-size: 30px;
         }
         .line2{
             display: none;
         }
         .top{
             width: 220px;
             margin-right: 20px;
             margin-top: -1px;
        
         }
        .bottom{
             width: 218px;
             margin-top: 8px;
            //  margin-left: -160px;
            
             
         }
         .glass{
             margin-left: 7px;
             height: 19vh;
             margin-top: 3px;
             width: 200px;
         }
         .sky {
            width: 198px;
            margin-left: -47px;
            margin-top: 100px;
        }
        .band {
            width: 205px;
            margin-left: -108px;
            margin-top: -18px;
            height: 20vh;
        }
        .rec{
            width: 220px;
            height: 3vh;
            margin-top: 12px;
            margin-right: 20px;
        }
        .lee2{
            width: 226px;
            height: 3vh;
            margin-left: 1px;
            margin-top: 13px;
        }
        .lee{
            width: 125px;
            height: 3vh;
            margin-left: 10px;
            margin-top: 9px;
        }
        .jeep{
            margin-left: -7px;
            margin-top: 7px;
            width: 258px;
            height: 3vh;
        }
    }

    .about{

        .head{
            margin-top: -41px;
            width: 391px;
            margin-left: -233px;
            font-size: 35px;
        }
    
        .text{
            margin-top: 21px;
            width: 343px;
            margin-left: -228px;
        }
    
        .aboutpic{
          width: 384px;
          margin-left: 84px;
        }
        .abouttext{
            margin-left: 281px;
            margin-right: 45px;
        }
    }
    #services{
        .jordan{
            margin-top: -42;
            margin-bottom: 16px;
            font-size: 35px;
        }
    
        .card{
            width: 14rem;
            padding: 2px;
        }
        .loyal{
            width: 175px;
        }
    }
    
    #blank{
  
        .egzy{
            margin-top: -74px;
            width: 371px;
            margin-left: -56px;
        }
    
        .letsdance{
            margin-left: -21px;
        }
        .btn{
            padding: 6px;
            width: 285px;
            margin-left: -28px;
        }
    }
    #contact{
        .ste{
        display: none;
            width: 329px;
            margin-left: 50px;
        }
    
        h2{
            margin-top: 8px;
            font-size: 35px;
            margin-left: -442px;
        }
    
        p{
            margin-left: -427px;
        }
    
        .form-control{
            width: 675;
        }
        .form{
            margin-left: -80px;
            margin-right: 60px;
            margin-top: 5px;
        }
    
        .message{
            width: 675px;
            margin-left: -15px;
        }
        .button {
            margin-left: 20px;
            width: 480px;
        }
        .get {
            margin-top: 30px;
            margin-right: -222px;
        }
    }
    
    .footer{
    
        height: 22vh;
        .fhead{
            font-size: 37px;
        }
        .ftext{
            margin-left: 149px;
            margin-top: -140;
            margin-bottom: 65px;
        }
        .location{
            height: 2vh;
            margin-bottom: 120px;
            margin-left: 112px;
        }
        .ftext2{
            margin-left: 377px;
            margin-top: -140px;
        }
    
        .phone{
            margin-top: -139px;
            margin-left: 345px;
            margin-bottom: 108px;
        }
    
        .footer{
            margin-bottom: -166px;
        }
    
    

 }

}
@media only screen and (min-width:1399.98px){
    .navigation{
        .logo{
            margin-left: 20px;
        }
       
    }
    .banner{
        .keith{
            margin-left: 22px;
        }
        .kayla{
            margin-left: 26px;
        }
        .line{
            margin-left: 29px;
        }
        .top{
            margin-left: 20px;
        }
        .bottom{
            margin-left: 20px;
        }
        .glass{
            margin-left: 6px;
        }
        .sky{
            margin-left: -76px;
        }
        .band{
            margin-left: -57px;
        }

        .rec{
            margin-left: 20px;
        }
        .lee2{
            margin-left: -6px;
        }
        .lee{
            margin-left: 11px;
            width: 198px;
        }
        .jeep{
            margin-left: 0px;
        }
    }
    #contact .message {
        font-family: "easy", Baloo2;
        margin-top: 23px;
        border-style: none;
        border-radius: 0px;
        width: 480px;
        padding: 10px;
        margin-top: 10px;
        height: 30vh;
        color: #8097a0;
        font-weight: 470;
      }
}